# Backend env
# Puerto del API
PORT=4000

# Conexion PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/guidemovies

# TMDb (usa API key o read token)
TMDB_API_KEY=
TMDB_READ_TOKEN=

# Localizacion
TMDB_LANG=es-ES
TMDB_REGION=CL
